@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import './reset.css';

.search{
    padding: 56px 0;
}
.search__kitchen{
    border-bottom: 1px solid #626262;
}
.search__line{
    line-height: 24px;
    color: #626262;
}
.restourantsInMoscow{
    padding-bottom: 80px;
}
.restourantsInMoscow__title{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 16px;

}
.restourantsInMoscow__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.restourantInMoscow__cart + .restourantInMoscow__cart{
    margin-bottom: 16px;
   
}
.restourantInMoscow-img{
    margin-bottom: 16px;
}
.restourantInMoscow__link{
    color: #1d1d1d;
    font-size: 16px;
    line-height: 24px;
     
}
.restourantInMoscow__title-cart{
    margin-bottom: 4px;
}
.restourantInMoscow__price{
    color: #626262;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 4px;
}
.restourantInMoscow__time{
    font-size: 13px;
    line-height: 21px;
    padding-bottom: 20px;
}

