@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import './reset.css';

body{
    font-family:  'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1d1d1d;
}
.container{
    max-width: 1124px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    
}
.header__top{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__btn{

}
.header__link{
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    border-radius: 2px;
    padding: 14px 20px;
    border: 1px solid #e0e0e0;
    margin-right: 27px;
    color:#1d1d1d;


}
.header__content{
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 80px 0;
   
    
    

}
.header__tractire-name{
   max-width: 389px;
    border-radius: 2px;
    background-color: #fff;
    padding: 38px 0 46px;
    margin: 55px 0 200px;
   

}
.header__title{
    font-size: 36px;
    line-height: 43px;
    margin-bottom:  62px;
    text-align: center;
}
.header__tractire-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 29px 0 38px;
}
.header__tractire-price{
    font-size: 14px;
    line-height: 17px;
    color: #626262;
}
.header__tractire-time{
    color: #fff;
    background-color: #262626;
    padding: 8px 16px;
    text-align: center;
    border-radius: 16px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;

}
.header__menu{
padding: 32px 0 29px;
border-bottom: 1px solid rgb(117, 117, 117);

}
.header__link-menu.menu-color{
    color: #327430;

}
.header__link-menu{
    color: #626262;
    line-height: 19px;

}
.header__link-menu + .header__link-menu{
    padding-left: 40px;
}
.menu__food{
    padding: 56px 0 80px;
}
.menu__food-title{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 32px;
}
.menu__food-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding-bottom: 49px;
}
.menu__food-name{
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    border: 1px solid #d8d8d8;
    margin-bottom: 49px;

}
.menu__food-name.name{
    box-shadow: (0px 4px 4px 4px);
    
}
    

.menu__food-name-title{
    line-height: 24px;
    padding-top: 16px;
    
}
.menu__food-ingredients{
   margin-top: 4px;
   font-size: 13px;
   line-height: 21px;
   color: #626262;
}
.menu__food-price{
    margin-top: 84px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    
}
.menu__food-price.price{
    margin-top: 58px;
}
.footer{
    background-color: #000000;
    padding: 56px 0 40px;
}
.footer__logo{
    
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}
.footer__inner{
    padding: 32px 0 48px;
    display: flex;

    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.footer__social{
    padding-right: 97px;
}
.footer__btn{
    border: 1px solid #3b3b3b;
    background-color: #3B3B3B;
    border-radius: 2px;
    padding: 12px 24px 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}
.footer__world{
    padding-left: 24px;
    padding-right: 17px;
}
.footer__language{
    padding-right: 106px;

}
.footer__text-logo{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 17px;
}
.footer__social-link + .footer__social-link{
    padding-left: 12px;
}
.footer__infoForPartners{
padding-right: 128px;
}
.footer__infoForPartners-inner{

}
.footer__infoForPartners-items + .footer__infoForPartners-items{
padding-top: 23px;
}
.footer__infoForPartners-link{
    color: #fff;
}
.footer__info{

}
.footer__info-inner{

}
.footer__info-items + .footer__info-items{
    padding-top: 23px;

}
.footer__info-link{
    color: #fff;
}
.footer__buttons{
    padding: 41px 0 39px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.footer__buttons-link + .footer__buttons-link{
    padding-left: 40px;
}
.footer__secret{
    display: flex;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    color: #fff;
    padding: 40px 0 0;
}
.uber + .uber{
    padding-left: 180px;
}
